@media (min-width: 400px) {
    body main .section-main , 
    body main .section-main .main-text,
    body main .section-main .pay {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    body main .section-main .pay .cart {
        max-width: 180%;
    }
}

@media (min-width: 500px) {

    body main .section-main,
    body main .main-text {
        gap: 2rem;
    }

    body main .section-main, 
    body main .main-text {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    body main .main-text h1,
    body main .main-text p{
        max-width: 100%;
    }
}

@media (min-width: 700px) {
    body{
        height: 100vh;
    }

    body, main {
       flex-direction: row; 
    }
    main {
        max-width: 662px;
    }
    
    main section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 1.5rem 0 0;
    }
    
    body main header img {
        content: url(../images/image-product-desktop.jpg);
        width: 100%;
        width: 33rem;
    }
    
    body main .section-main {
        align-items: start;
        text-align: start;
        justify-content: space-evenly;
    }
    
    body main .section-main .main-text {
        align-items: start;
        text-align: start;
    }

    body main .section-main .pay {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        gap: 2rem;
    }
    body main .section-main .pay .cart {
        margin: 0 auto;
        width: 30rem;
        padding-bottom: 0;
    }
}

