/* 

    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif; 

*/

/* body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--Cream);
    
    padding: 2rem
}

/* image */




/* MAIN */
main {
    overflow: hidden;
    background: #fff;
    border-radius: 1.4rem ;
    

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1.5rem;
}

/* MAIN TEXT */
body main .section-main .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body main .section-main .main-text p {
    font-family: 'Montserrat', sans-serif;
    color: var(--Dark-grayish-blue); 
}

body main .section-main .main-text p:first-child {
    margin-top: 1rem;
    font-size: 1rem;
    letter-spacing: 0.5rem; 
}

body main .section-main .main-text h1 {
    font-size: 3.5rem;
    color: var(--Very-dark-blue);
    font-family: 'Fraunces', sans-serif;
    max-width: 35rem;
}

body main .section-main .main-text p :last-child {
    max-width: 30rem;
    font-size: 1.4rem;  
    line-height: 2.5rem;
}

/* main price */

body main .section-main .pay .price h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
    font-family: 'Fraunces', sans-serif;
    font-size: 3rem;
    
    color: var(--Dark-cyan);
}

body main .section-main .pay .price h2 span {
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
}

/* button */

body main .section-main .pay .cart {
    padding-bottom: 1.5rem;
}

body main .section-main .pay .cart button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--White);
    background: var(--Dark-cyan);

    padding: 1.5rem;
    border-radius: 1rem;
}

body main .section-main .pay .cart button span img {
    width: 2rem;
    margin-right: 2rem;

}

/* Detalhes */
body main .section-main .pay .cart button:hover {  
    background:  hsl(157, 36%, 12%);
    cursor: pointer;
}