/* 

    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif; 

*/

/* body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(131, 131, 131);
    
    height: 100vh;
    padding: 2rem
}

/* image */
body header img {
    border-radius: 1.4rem 1.4rem 0 0;
}
/* MAIN */
main {
    background: #fff;
    border-radius: 0 0  1.4rem 1.4rem;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* MAIN TEXT */
body main .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body main p {
    font-family: 'Montserrat', sans-serif;
    color: var(--Dark-grayish-blue); 
}

body main .main-text p:first-child {
    margin-top: 1rem;
    font-size: 1rem;
    letter-spacing: 0.5rem; 
}

body main h1 {
    font-size: 3.5rem;
    color: var(--Very-dark-blue);
    font-family: 'Fraunces', sans-serif;
    max-width: 35rem;
}

body main p:last-child {
    max-width: 30rem;
    font-size: 1.4rem;  
    line-height: 2.5rem;
}

/* main price */

body main .price h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
    font-family: 'Fraunces', sans-serif;
    font-size: 3rem;
    
    color: var(--Dark-cyan);
}

body main .price h2 span {
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
}

/* button */

body main .cart button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--White);
    background: var(--Dark-cyan);

    padding: 1.5rem;
    border-radius: 1rem;
}

body main .cart button span img {
    width: 2rem;
    margin-right: 2rem;

}

