/* 

    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif; 

*/

/* body */
body {
    background: rgb(131, 131, 131);
    padding: 2rem
}

/* MAIN */
main {
    overflow: hidden;
    background: #fff;
    border-radius: 0 0  0.4rem 0.4rem;
    padding: 1rem;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* MAIN imagem */



body main .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body main p {
    font-family: 'Montserrat', sans-serif;
    color: var(--Dark-grayish-blue); 
}

body main .main-text p:first-child {
    margin-top: 1rem;
    font-size: 1rem;
    letter-spacing: 0.5rem; 
}

body main h1 {
    font-size: 3.5rem;
    color: var(--Very-dark-blue);
    font-family: 'Fraunces', sans-serif;
    max-width: 35rem;
}

body main p:last-child {
    max-width: 30rem;
    font-size: 1.4rem;  
    line-height: 2.5rem;
}
