:root {
    
    /* Primary */
    
    /* button */
    --Dark-cyan: hsl(158, 36%, 37%);

    /* bg */
    --Cream: hsl(30, 38%, 92%);

    /* ### Neutral */

    /* h1 */
    --Very-dark-blue: hsl(212, 21%, 14%);

    /* p */
    --Dark-grayish-blue: hsl(228, 12%, 48%);

    /* main-bg */
    --White: hsl(0, 0%, 100%);
}